{% extends "master.html" %}

{% block meta %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="centros">
    <meta name="author" content="">

{% endblock %}

{% block content %}

	<h3>Listado de centros</h3>
	{% if centros %}
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Nombre</th>
		      <th scope="col">Dirección</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for centro in centros %}
		    <tr>
		      <td><a href="{% url 'departamentos' centro.slug %}">{{ centro.nombre }}</a>
		      </td>
		      <td>{{ centro.direccion }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	{% else %}
		<p>No hay centros</p>
	{% endif %}

{% endblock %}
