<!-- INSERTAR CÓDIGO NECESARIO PARA USAR LA PLANTILLA -->

 
{% block metadatos %}
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Examen HLC DJANGO - Resultados de la búsqueda">
    <meta name="author" content="">
 
{% endblock %}
 
 
{% block contenidos %}
 
    <!-- Contenido -->
    <div class="container">
        <div class="row">
            <!-- Entradas  -->
            <div class="col-md-8">
                <h1 class="my-4">Resultados para la búsqueda: 

                    <!-- INSERTAR CÓDIGO PARA MOSTRAR EL TEXTO INTRODUCIDO EN LA BÚSQUEDA -->
                   
                </h1>

                <!-- INSERTAR CÓDIGO PARA MOSTRAR EL LISTADO DE CIUDADES CUYA DESCRIPCIÓN CONTENGAN EL TEXTO INTRODUCIDO EN LA BÚSQUEDA Y EL MENSAJE DE "NO HAY NINGUNA CIUDAD QUE CUMPLA ESE CRITERIO DE BÚSQUEDA" EN CASO DE QUE NO HAYA NINGÚN RESULTADO -->
                

            </div>

            <!-- INSERTAR CÓDIGO PARA MOSTRAR EL PANEL LATERAL CON EL FORMULARIO Y LISTADO DE PAÍSES -->
            
            
        </div>
    </div>
 
{% endblock %}
