<!-- INSERTAR CÓDIGO NECESARIO PARA USAR LA PLANTILLA -->
{% extends "master.html" %} {% block metadatos %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Examen HLC DJANGO - Listado de ciudades">
<meta name="author" content=""> {% endblock %} {% block content %}

<!-- Contenido -->
<div class="container">
    <div class="row">
        <!-- Entradas  -->
        <div class="col-md-8">
            <h1 class="my-4">Aplicación Viaje
            </h1>

            <!-- INSERTAR CÓDIGO PARA MOSTRAR EL LISTADO DE CIUDADES -->
            {% for ciudad in ciudades %}
            <img src="{{ ciudad.foto.url }}" width=350 alt="c.foto">
            <h2>{{ ciudad.nombre }}</h2>
            <p>{{ ciudad.descripcion }}</p>
            {% endfor %}
        </div>

        <!-- INSERTAR CÓDIGO PARA MOSTRAR EL PANEL LATERAL CON EL FORMULARIO Y LISTADO DE PAÍSES -->
        {% include "viaje/lateral.html" %}
    </div>
</div>

{% endblock %}