<!-- INSERTAR CÓDIGO NECESARIO PARA USAR LA PLANTILLA -->
{% extends "master.html" %} {% block metadatos %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Examen HLC DJANGO - Ciudades de un país">
<meta name="author" content=""> {% endblock %} {% block content %}

<!-- Contenido -->
<div class="container">
    <div class="row">
        <!-- Entradas  -->
        <div class="col-md-8">
            <h1 class="my-4">

                <!-- INSERTAR CÓDIGO PARA MOSTRAR EL NOMBRE DEL PAÍS DEL QUE VAMOS A MOSTRAR LAS CIUDADES -->
                <h1>{{pais.nombre}}</h1>

            </h1>

            <!-- INSERTAR CÓDIGO PARA MOSTRAR EL LISTADO DE CIUDADES DEL PAÍS SELECCIONADO -->

        </div>

        <!-- INSERTAR CÓDIGO PARA MOSTRAR EL PANEL LATERAL CON EL FORMULARIO Y LISTADO DE PAÍSES -->


    </div>
</div>

{% endblock %}