<h1>Lista Personas</h1>
<button routerLink="persona-addMod/-1">Añadir persona</button>

<table border="1.5">
    <thead>
        <th>ID</th>
        <th>DNI</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>MODIFICAR</th>
        <th>ELIMINAR</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of lista">
            <td>{{p.ID}}</td>
            <td>{{p.DNI}}</td>
            <td>{{p.NOMBRE}}</td>
            <td>{{p.APELLIDOS}}</td>
            <td><button routerLink="persona-addMod/{{p.ID}}">Editar</button></td>
            <td><button (click)="delete(p.ID)">Borrar</button></td>
        </tr>
    </tbody>
</table>