<h1>Bienvenido al mundo del señor de los anillos</h1>
<ul>
    <li *ngFor="let h of lista">{{h}}</li>
</ul>
<input type="text" [(ngModel)]="gHobbit" placeholder="Introduzca el nombre de Hobbit" style="width:10%" />
<button (click)="anyadirHobbit()">{{accion.nombre}} hobbit</button>
<table *ngIf="lista.length > 0" border="1.5">
    <thead>
        <th>Nombre del hobbit</th>
        <th>Acción</th>
    </thead>
    <tbody>
        <tr *ngFor="let h of lista, index as i">
            <td>{{h}}</td>
            <td>
                <button (click)="eliminar(i)">Borrar</button>
                <button (click)="editar(h, i)">Editar</button>
            </td>
        </tr>
    </tbody>
</table>

<footer>Número de hobbits {{lista.length}}</footer>