
<h3>Menú Principal</h3>
<ul>
	<li><a routerLink="/modulo1/compo1">Modulo 1. Componente 1</a></li>
	<li><a routerLink="/modulo1/compo2">Modulo 1. Componente 2</a></li>
	<li><a routerLink="/modulo1/compo3">Modulo 1. Componente 3</a></li>
	<hr/>

	<li><a routerLink="/modulo2/compo1">Modulo 2. Componente 1</a></li>
	<li><a routerLink="/modulo2/compo2">Modulo 2. Componente 2</a></li>
	<li><a routerLink="/modulo2/compo3">Modulo 2. Componente 3</a></li>
	<hr/>

	<li><a routerLink="/modulo3/compo1">Modulo 3. Componente 1</a></li>
	<li><a routerLink="/modulo3/compo2">Modulo 3. Componente 2</a></li>
	<li><a routerLink="/modulo3/compo3">Modulo 3. Componente 3</a></li>
</ul>


<router-outlet></router-outlet>