<h3>
    Gestión de nombres
</h3>

Lista de nombres:
<ul>
    <li *ngFor="let nombre of listaNombres">
        {{nombre}}
    </li>
</ul>

<app-add-mod-nombre></app-add-mod-nombre>

<h4>Ahora ponemos otro componente:</h4>

<app-select-nombres></app-select-nombres>









<p>
    <b>EJERCCIO_</b><br> Como ejercicio colocar donde este texto está, otro componente, el cual sea una tabla con 2 columnas, a saber:<br><br> # --> contiene el índice de la fila (0 => 1ª fila, 1 => 2ª fila, .....)
    <br>Nombre --> contiene el nombre de la lista de nombres.
</p>
<p>
    Y que sea reactivo, CLARO ESTÁ!!!!
</p>
<p>
    <b>Suerte!!!!</b>
</p>

<app-table-nombres></app-table-nombres>