<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
<meta charset="ISO-8859-1">
<title>Finalizar compra</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container-fluid">

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" th:href="@{/productos}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="/producto/new">Nuevo
							producto</a></li>
				</ul>
	
				<ul class="nav navbar-nav navbar-right"
					sec:authorize="isAuthenticated()">
					<li class="nav-item"><a class="nav-link"
						href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">
		<div class="starter-template">
			<h1>Gracias por realizar esta compra</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>Nombre</th>
						<th>Precio</th>
				</thead>
				<tbody>
					<tr>
						<td><img src=""
							th:src="@{${producto.imagen} ?: '/images/icon_placeholder.png'}"
							width="64px" alt="imagen prueba" /></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.precio}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/producto/detalle/{id}(id=${producto.id})}" class="btn btn-info" >Volver a comprar</a>
		</div>
	</div>
</body>
</html>