<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
<meta charset="ISO-8859-1">
<title>Listado productos</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container-fluid">

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" th:href="@{/productos}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="/producto/new">Nuevo
							producto</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">
		<h1>Detalle producto</h1>
		<div class="starter-template">

			<h1>Detalle del producto</h1>


			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="" alt="imagen prueba" />
				<!-- 	<img src=""
							th:src="@{${producto.imagen} ?: '/images/icon_placeholder.png'}"
							width="64px" />  -->
				<div class="card-body>">
					<h5 class="card-title">
						Nombre: <span th:text="${producto.nombre}"></span>
					</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						Descripción: <span th:text="${producto.descripcion}"></span>
					</h6>
					<p class="card-text">
						Unidades: <span th:text="${producto.unidades}"></span>
					</p>
					<p class="card-text">
						Precio: <span th:text="${producto.precio}"></span>
					</p>

				</div>
			</div>
		</div>

	</div>
</body>
</html>