<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Listado</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">

</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container-fluid">

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" th:href="@{/productos}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="/producto/new">Nuevo
							producto</a></li>
				</ul>
				<!-- Formulario de búsqueda -->
				<form class="navbar-form navbar-right" th:object="${buscar}">
					<input type="text" class="form-control" placeholder="Buscar..." name="buscar" th:value="${buscar}" >
				</form>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Listado de productos</h1>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Imagen</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th>Unidades</th>
						<th>Acciones</th>
				</thead>
				<tbody>
					<tr th:each="p : ${productos}">
						<td th:text="${p.id}"></td>
						<td><img src="" th:src="@{${p.imagen} ?: '/images/icon_placeholder.png'}" width="64px" /></td>
						<td th:text="${p.nombre}"></td>
						<td th:text="${p.descripcion}"></td>
						<td th:text="${p.unidades}"></td>
						<td th:text="${p.precio}"></td>
						<td><a th:href="@{/producto/edit/{id}(id=${p.id})}">Editar</a>
							<a th:href="@{/producto/detalle/{id}(id=${p.id})}">Detalle</a></td>
						<!--<td><a th:href="@{/empleado/edit/{id}(id=${empleado.id})}">Editar</a></td>  -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>